<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        ngModel
        required
        #title="ngModel"
      />
    </mat-form-field>
    @if (title.invalid) {
    <mat-error>Please enter the post title!</mat-error>
    }
    <mat-form-field>
      <textarea
        matInput
        name="content"
        id=""
        rows="6"
        ngModel
        required
        #content="ngModel"
      ></textarea>
    </mat-form-field>
    @if (content.invalid) {
    <mat-error>Please enter the post content!</mat-error>
    }

    <button mat-raised-button color="primary" type="submit">Save post</button>
  </form>
</mat-card>
